.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:  #c4a9a9;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
  margin-top: 8px;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

.closeIcon {
  background-color: #c4a9a9;
}

/*.closeIcon:hover {
  background-color:#743860; 
  color: white;
}
*/