.info {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.register {
    margin-top: 8vh;
    margin-left: 10vw;
}

.registerpop {
    position: relative;
    width: 50px;
    height: 80px;
    margin-top: 10vh;
    background-color: #f7f7f7;
}