.info {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.register {
    margin-top: 8vh;
    margin-left: 10vw;
}

.registerButton {
    margin-top: 8vh;
    margin-left: 10vw;
    background-color: #ff5858;
    color: white;
}

.registerpop {
    position: relative;
    width: 50vw;
    height: 60vh;
    margin-top: 10vh;
    background-color: #f7f7f7;
}

