.lay1 {
    width: 200px;
    height: 20px;
    border: 1px solid #ff6699;
    margin-left: 580px;
    margin-top: 10px;
}

.Upload {
    margin-left: 580px;
    margin-top: 10px;
}

.lay2 {
    width: auto;
    height: auto;
    border: 10vw;
    background-color: #f4f4f4;
    margin-left: 2vw;
    margin-top: 2vh;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 200%;
    line-height: 2vh;
}


.row {
    margin-top: 5vh;
    margin-left: 1vw;
}

.lastLine {
    margin-bottom: 0vh!important;
}

.saveRight {
    position: static;
    bottom: 0;
    right: 0;
    margin-left: 70vw;
    margin-bottom: 10vh;
}

.cancelRight {
    position: static;
    bottom: 0;
    right: 0;
    margin-left: 1vw;
    margin-bottom: 10vh;
}



.iconManager {
    display: flex;
    flex-direction: row;
    margin-left:1vw;
    margin-bottom: 1vh;
    background-color: #ff5858;
    font-family: 'Comic Sans MS'; 
    color: white;
    width: auto;
}

.editRight {
    position: static;
    bottom: 0;
    right: 0;
    margin-left: 50vw;
    margin-bottom: 1vh;
    color: black;
    background-color: #c4c4c4;
    width: auto;
}

.passRight {
    position: inherit;
    bottom: 0;
    right: 0;
    /* margin-right: 1vw; */
    margin-bottom: 1vh;
    color: #000000;
    background-color: #c4c4c4;
    width: auto;
}

.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 1, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp-inner {
    position: relative;
    width: 30vw;
    height: 50vh;
    padding-top: 10vh;
    background-color: #f7f7f7;
}

.popUp-title {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding-top: 1%;
}

.close-btn {
    position: absolute;
    bottom: 1vw;
    right: 2vh;
}

.button {
    background-color: #ff5858;
    color: white;
}

