.lay1 {
    width: 200px;
    height: 20px;
    border: 1px solid #ff6699;
    margin-left: 580px;
    margin-top: 10px;
}

.Upload {
    margin-left: 580px;
    margin-top: 10px;
}

.lay2 {
    width: 80vw;
    height: 65vh;
    border: 10px;
    background-color: #f4f4f4;
    margin-left: 50px;
    margin-top: 30px;
    letter-spacing: 1px;
}
.lay3 {
    width: auto;
    height: auto;
    border: 1px solid #ff6699;
    margin-left: 50px;
}

.saveRight {
    position: absolute;
    bottom: 0;
    right: 0;

    margin-right: 200px;
    margin-bottom: 50px;
}

.cancelRight {
    position: absolute;
    bottom: 0;
    right: 0;

    margin-right: 300px;
    margin-bottom: 50px;
}

.editRight {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5vw;
    margin-bottom: 8vh;
    color: #000000;
    font-family: Reem Kufi;
    background-color: #c4c4c4;
}

.passRight {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15vw;
    margin-bottom: 8vh;
    color: #000000;
    font-family: Reem Kufi;
    background-color: #c4c4c4;
}

.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 1, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp-inner {
    position: relative;
    width: 30vw;
    height: 50vh;
    padding-top: 10vh;
    background-color: #f7f7f7;
}

.popUp-title {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding-top: 1%;
}

.close-btn {
    position: absolute;
    bottom: 1vw;
    right: 2vh;
}

.button {
    background-color: #ff5858;
    color: white;
}
