
.dashboardContainer{
    display: flex;
    flex-direction: row;
}

.dashboardContainer > div {
    margin: 50px;
    width: 35vw;
  }

body {
    background-color: #fbfbfd;
}

.chart {
    background-color: white;
    border: 1px;
    border-color: black;
}

.brDiv {
    height: 364px;
}