.searchBar {
    float: right;
    width: 300px;
    margin-right: 70px;
    margin-bottom: 20px;
    color: black;
}

.table {
    height: 100vh;
    width: 80vw;
}

.detailButton {
    background-color: #ff5858;
    color: white;
}

.total {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
}

h2 {
    margin-top: 30px;
    margin-left: 20px;
}

.ant-spin-dot-item {
    background-color: #ff5858;
}

.total2 {
    margin-left: 10vw;
}