.menu {
    width: 257px;
    color: #3431BE;
    height: 100vh;
    background-color: #FE6666 !important;
    
}
.menu-item {
    background-color: #FF9999;
    border: 1px solid black;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #FE6666;
    color: black;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid white;
    margin-top: 10%;
    margin-bottom: 10%;
}
.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 0px;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    height: 60px;
    margin-top: 0;
    margin-bottom: 4px;
    padding: 0 16px;
    overflow: hidden;
    line-height: 60px;
    text-overflow: ellipsis;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 3px solid red;
    transform: scaleY(0.0001);
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    content: '';
}